/* 底部按钮 */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1.5261rem;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    clear: both;
    border-top: 1px solid #eee;
}

.footer-left-content {
    position: relative;
    height: 100%;
    width: 6.0515rem;
    float: left;
    padding: .32rem 0;
    clear: both;
}

.footer-kefu {
    height: 100%;
    width: 2.0523rem;
    border-right: 1px solid #D8D8D8;
    float: left;
    line-height: 1.48rem;
    text-align: center;
}

.footer-kefu a {
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 0.3157rem;
    color: #666666;
    background-image: url('../../assets/image/phone.png');
    background-size: 0.4736rem;
    background-repeat: no-repeat;
    background-position: center 0;
}

.footer-amounts {
    height: 100%;
    float: right;
    text-align: center;
    width: 3.9993rem;
    line-height: 0.8946rem;
    font-size: 0.7367rem;
    color: #F9830C;
}

.footer-amounts span {
    font-size: 0.3683rem;
}

.footer-right-btn {
    width: 3.8151rem;
    height: 1.5261rem;
    line-height: 1.5261rem;
    background-color: #626AFD;
    color: #fff;
    font-size: 0.4267rem;
    float: right;
    text-align: center;
}

.moreDet {
    font-size: 0.3733rem;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 1.2rem;
    box-sizing: border-box;
    padding: 0 0.4rem;
}

.moreDet span {
    color: #68a5fe;
    text-decoration: none;
}

.Insured {
    background-color: #fff;
    margin-top: 0.2667rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.4rem 0.4rem 0.4rem;
    position: relative;
}

.Insured .title {
    line-height: 1.44rem;
    width: 100%;
    font-size: 0.4267rem;
    color: #333333;
    text-align: left;
    height: 1.44rem;
    border-bottom: 1px solid #eee;
}

.Insured .t1,
.Insured .t2 {
    font-size: 0.3733rem;
    color: #333333;
    line-height: 0.6933rem;
    margin-top: 0.32rem;
}

.Insured .t1 .switch-group {
    float: right;
}

.Insured .t2 .birtyday-selector {
    float: right;
}